html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    // scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: $font;
    font-size: 16px;
    font-weight: 400;
    color: $color1;
}

img {
    display: block;
}

main {
    flex-grow: 1;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    /* Retina-specific stuff here */

    .build-type {
        &:nth-child(1) {
            &::before {
                background-image: url("../../images/build/build-types/type-1@2x.png");
            }
        }

        &:nth-child(2) {
            &::before {
                background-image: url("../../images/build/build-types/type-2@2x.png");
            }
        }

        &:nth-child(3) {
            &::before {
                background-image: url("../../images/build/build-types/type-3@2x.png");
            }
        }

        &:nth-child(4) {
            &::before {
                background-image: url("../../images/build/build-types/type-4@2x.png");
            }
        }
    }

    .consultation__inner {
        &::after {
            background-image: url("../images/consultation/consultation@2x.jpg");
        }
    }
}
