// FONTS
$font: "Gilroy", "Arial", sans-serif;

// COLORS
$color1: #2b2a28;
$color3: #ffffff;
$color5: #cb8734;
$color6: #fffbf6;
$color7: #3d1e19;
$color8: #e7d8c7;
$gray3: #828282;

$gradient-color: linear-gradient(180deg, #f39c32 0%, #cb8734 100%);
