.cases--building {
    .container {
        position: relative;
        padding-bottom: 135px;
        margin-bottom: 10px;
    }

    .building__slider {
        margin-bottom: 0;
    }

    .building__item:last-child {
        display: none;
    }

    .building__price {
        position: absolute;
        right: 20px;
        bottom: 0;
        width: 370px;
        padding: 50px 45px;
        background: #ffffff;
        box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
        border-radius: 8px;

        &__title {
            margin-top: 0;
            margin-bottom: 26px;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;

            strong {
                font-weight: 400;
                color: $color5;
            }
        }

        &__button {
            padding: 21px;
        }
    }
}


@media only screen and(max-width: 920px) {
    .cases--building {
        .container {
            margin-bottom: 32px;
        }

        .contact__form {
            margin-left: auto;
            margin-bottom: 24px;
        }
    }
}

@media only screen and(max-width: 768px) {
    .cases--building {
        .container {
            margin-bottom: 20px;
            padding-bottom: 0;
        }

        .building__slider {
            margin-bottom: 40px;
        }

        .building__price {
            position: unset;
            top: unset;
            right: unset;
            margin: 0 auto;
        }

        .building__item:last-child {
            display: block;
        }
    }

    .structures-cases {
        .contact__form {
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }
}

@media only screen and(max-width: 425px) {
    .cases--building {
        .building__slider {
            margin-bottom: 30px;
        }

        .building__price {
            position: unset;
            top: unset;
            right: unset;
            width: 100%;
            margin: 0 auto;
            padding: 33px 20px;

            &__title {
                max-width: 300px;
                margin-bottom: 16px;
                line-height: 30px;
            }

            &__button {
                width: 100%;
            }
        }
    }

    .structures-cases {
        .contact__form {
            max-width: 100%;
            margin: 0 auto;
            margin-bottom: 60px;
            padding: 40px 20px;

            .contacts__text {
                font-size: 20px;
                line-height: 26px;
            }

            &__text {
                width: 100%;
            }
        }
    }
}
