.catalog .container {
    margin-bottom: 145px;
}

.cotalog__mobile-bar {
    display: none;
}

.catalog__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 40px;
}

.catalog__heading {
    margin: 0;
    margin-right: 32px;
    font-size: 36px;
    line-height: 58px;
    white-space: nowrap;
}

.catalog__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.catalog__more {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 17px;
    font-size: 16px;
    line-height: 28px;
    color: $color1;
    background-color: $color6;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        width: 29px;
        height: 32px;
        margin-right: 12px;
        background-image: url("../images/catalog/more.svg");
    }
}

@media only screen and(max-width: 768px) {
    .cotalog__mobile-bar {
        display: flex;
        align-items: center;
        border: 1px solid $color8;
        border-top: none;
    }

    .filter__button {
        width: 50%;
        height: 38px;
        background: $color3;
        border: none;
        border-right: 1px solid $color8;
        background-image: url("../images/catalog/filter.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
    }

    .search__button {
        width: 50%;
        height: 38px;
        background: $color3;
        border: none;
        background-image: url("../images/catalog/search.svg");
        background-repeat: no-repeat;
        background-size: 24px;
        background-position: center;
    }

    .catalog__searchbar {
        display: none;
    }

    .filter {
        display: none;
        // overflow: hidden;
    }

    .catalog__heading {
        width: 100%;
        margin-right: 0;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
    }
}

@media only screen and(max-width: 385px) {
    .body--filter{
        .catalog{
            .container{
                overflow-x: hidden;
            }
        }
    }
}