.catalog__right {
    max-width: 870px;
    width: 100%;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.catalog__item {
    display: flex;
    align-items: flex-start;
    max-width: 270px;
    height: 397px;
    margin-bottom: 30px;
    border-radius: 0px 40px 0px 0px;
}

.catalog__card {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.card__image {
    max-width: calc(100% - 10px);
    width: 100%;
    height: auto;
    margin: 5px;
    margin-bottom: 25px;
    border-radius: 0px 36px;
}

.card__inner {
    padding-bottom: 26px;
}

.card__heading {
    width: 0;
    margin: 0 23px;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    white-space: nowrap;
    text-align: center;
    transition: width 0.3s ease;

    &__text {
        display: block;
    }
}

.card__info__inner {
    display: flex;
    align-items: center;
    margin-left: 28px;

    & + & {
        margin-left: 23px;
    }
}

.card__info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .card__price {
        display: none;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        white-space: nowrap;
    }
}

.card__info__image {
    margin-right: 6px;
}

.card__bottom {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.card__link {
    max-width: calc(100% / 2 - 2.5px);
    width: 100%;
    margin-right: 5px;
    padding: 13px;
    font-size: 12px;
    transition: max-width 0.25s ease;
}

.card__price {
    max-width: calc(100% / 2);
    width: 100%;
    padding: 13px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background: $color6;
    border-radius: 4px;
}

.catalog__item:hover {
    position: relative;
    // margin-bottom: 0;

    .catalog__card {
        transform: scale(1.1896);
        box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.2);
    }

    .card__heading {
        width: calc(100% - 46px);
        margin-bottom: 24px;
    }

    .card__inner {
        padding-bottom: 30px;
    }

    .card__info {
        justify-content: space-between;
        padding: 0 20px;

        .card__price {
            display: block;
            margin: 0 10px;
            padding: 18px 0;
            flex-shrink: 0;
        }
    }

    .card__info__inner {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .card__info__image {
        margin-right: 0px;
    }

    .card__bottom {
        padding: 0;

        .card__link {
            margin: 0 20px;
            max-width: 100%;
        }

        .card__price {
            display: none;
        }
    }
}

@media only screen and(max-width: 1160px) {
    .catalog__right {
        max-width: 800px;
    }

    .catalog__list {
        justify-content: center;
        column-gap: 32px;
    }
}

@media only screen and(max-width: 1160px) {
    .catalog__list {
        column-gap: 18px;
    }
}

@media only screen and(max-width: 768px) {
    .catalog__item:last-child {
        margin-bottom: 20px;
    }

    .catalog__item:hover {
        // margin-bottom: 10px;

        .catalog__card {
            transform: scale(1);
        }

        .card__inner {
            padding-bottom: 26px;
        }

        .card__heading {
            margin-bottom: 15px;
        }

        .card__info {
            justify-content: flex-start;
            padding: 0;

            .card__price {
                display: none;
            }
        }

        .card__info__inner {
            flex-direction: row;
            margin: 0;
            margin-right: 0;
            margin-left: 28px;
        }

        .card__info__image {
            margin-right: 6px;
        }

        .card__bottom {
            padding: 0 20px;

            .card__link {
                max-width: calc(100% / 2 - 2.5px);
                margin: 0;
                margin-right: 6px;
            }

            .card__price {
                display: block;
                max-width: calc(100% / 2);
                margin: 0px;
                text-align: center;
                padding: 13px 0;
            }
        }
    }
}

@media only screen and(max-width: 425px) {
    .catalog .container {
        margin-bottom: 85px;
    }

    .catalog__top {
        margin-bottom: 10px;
    }

    .catalog__heading {
        max-width: 300px;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
        white-space: normal;
        text-align: left;
    }

    .catalog__item {
        margin-bottom: 10px;
        max-width: 100%;
        width: 100%;
        height: auto;

        &:nth-child(5) {
            margin-bottom: 20px;
        }

        &:nth-child(5) ~ .catalog__item {
            display: none;
        }
    }

    .catalog__card {
        width: 100%;
    }
}
