.catalog__right {
    max-width: 100%;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 870px;
}

.catalog__item {
    display: flex;
    align-items: stretch;
    width: 270px;
    margin-bottom: 30px;
}

.catalog__card {
    background: #ffffff;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
}

.card__image {
    max-width: calc(100% - 10px);
    width: 100%;
    height: auto;
    margin: 5px;
    margin-bottom: 25px;
    border-radius: 0px 36px;
}

.card__inner {
    padding-bottom: 26px;
}

.card__heading {
    margin-top: 0;
    margin-bottom: 15px;
    padding-left: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;

    &__text {
        display: block;
    }
}

.card__info__inner {
    display: flex;
    align-items: center;
    margin-left: 28px;

    & + & {
        margin-left: 23px;
    }
}

.card__info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .card__price {
        display: none;
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.1em;
    }
}

.card__info__image {
    margin-right: 6px;
}

.card__bottom {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.card__link {
    max-width: calc(100% / 2 - 2.5px);
    width: 100%;
    margin-right: 5px;
    padding: 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    text-align: center;
    color: $color3;
    background: $gradient-color;
    box-shadow: 0px 4px 4px rgba(203, 135, 52, 0.2);
    border-radius: 4px;
}

.card__price {
    max-width: calc(100% / 2);
    width: 100%;
    padding: 13px 0;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    background: $color6;
    border-radius: 4px;
}

.catalog__item:hover {
    position: relative;

    .catalog__card {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        width: 320px;
    }

    .card__heading {
        margin-bottom: 24px;
        padding-left: 0;
    }

    .card__heading__text {
        text-align: center;
    }

    .card__inner {
        padding: 0 20px;
        padding-bottom: 30px;
    }

    .card__info {
        justify-content: space-between;

        .card__price {
            display: block;
        }
    }

    .card__info__inner {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    .card__bottom {
        padding: 0;

        .card__link {
            max-width: 100%;
        }

        .card__price {
            display: none;
        }
    }
}
