.header {
    background-color: $color6;
}

.header .container {
    padding-top: 22px;
    padding-bottom: 37px;
}

.header--first .container{
    padding-bottom: 0;
}

.header__top {
    display: flex;
    align-items: center;
    margin-bottom: 18px;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 36px;
    color: $color1;
}

.header__logo__image {
    margin-right: 30px;
}

.header__logo__text {
    max-width: 255px;
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.08em;
}

.header .socials {
    margin-right: 40px;
}

.languages__list {
    flex-grow: 1;
    margin: 0;
    margin-bottom: 27px;
    padding: 0;
    list-style-type: none;
}

.language {
    display: flex;
    align-items: center;

    &::after {
        content: "";
        display: block;
        width: 6px;
        height: 3px;
        background-image: url(../images/languages/vector.svg);
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.language__image {
    margin-right: 6px;
    margin-left: auto;
}

.burger {
    display: none;
}

.telephone__number__icon {
    display: none;
}

.body--active {
    .main {
        display: none;
    }

    .footer {
        display: none;
    }
}

.body--active .header {
    .container {
        position: relative;
    }

    .header__logo {
        display: none;
    }

    .telephone__number__icon {
        display: none;
    }

    .header__inner {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        transform: translateY(100%);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        min-height: calc(100vh - 75px);
        margin-bottom: auto;
        background-color: $color6;
    }

    .header__top {
        flex-direction: column;
        background-color: $color6;
    }

    .nav{
        display: block;
    }

    .socials {
        display: block;
        margin-bottom: 22px;
    }

    .socials__text {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 18px;
    }

    .socials__list {
        justify-content: center;
    }

    .call {
        display: block;
        order: 2;
        margin: 0;
        margin-bottom: 35px;
    }

    .telephone__info {
        margin: 0;
        margin-bottom: 10px;
    }

    .telephone__number {
        margin-bottom: 5px;
        font-size: 18px;
        line-height: 16px;
    }

    .call-back__text {
        display: none;
    }
}

@media only screen and(max-width: 1200px) {
    .header__top {
        justify-content: space-between;
    }

    .header__logo__image {
        margin-right: 12px;
    }

    .header__logo {
        margin-right: 0;
    }

    .header .socials {
        margin-right: 0;
    }

    .header .telephone__info {
        margin-right: 8px;
    }

    .languages__list {
        flex-grow: 0;
    }

    .language__image {
        margin-left: 0;
    }
}

@media only screen and(max-width: 1100px) {
    .header__top {
        justify-content: space-between;
    }

    .header__logo {
        margin-right: auto;
    }

    .header .socials {
        display: none;
        margin: 0 auto;
    }

    .call {
        margin-right: 24px;
    }
}

@media only screen and(max-width: 980px) {
    .header__logo__text {
        display: none;
    }
}

@media only screen and(max-width: 768px) {
    .header {
        border-bottom: 1px solid $color8;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 20px;
    }

    .header__inner {
        order: -1;
    }

    .header__top {
        justify-content: space-between;
        margin: 0;
    }

    .header__logo {
        margin: 0;
    }

    .header__logo__image {
        margin-right: 0;
    }

    .header .call {
        display: none;
    }

    .languages__list {
        display: none;
    }

    .burger {
        display: block;
        order: -1;

        &::after {
            line-height: 30px;
        }
    }

    .telephone__number__icon {
        display: block;
    }

    .header .nav {
        display: none;
    }
}

@media only screen and(max-width: 425px) {
    .header .container {
        padding: 13px 20px;
    }

    .body--active .header {
        .burger {
            &::after {
                line-height: 30px;
            }
        }

        .header__inner {
            min-height: calc(100vh - 58px);
        }
    }

    .header__logo__image {
        width: 147px;
        height: 20px;
    }
}
