.process .container {
    margin-bottom: 145px;
}

.process__title {
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 36px;
    line-height: 58px;
    color: $color1;
}

.process__list {
    margin: 0;
    padding: 0;
}

.process__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    list-style: none;

    & + & {
        margin-top: 60px;
    }
}

.process__inner {
    position: relative;
    max-width: 266px;
    width: 100%;
    margin-top: 28px;
    margin-right: 24px;
}

.process__item__text {
    width: calc(100% - 25px);
    margin: 0;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 17px;
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    background-color: $color5;

    &::before {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 0;
        height: 0;
        border-top: 30px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 30px solid transparent;
        border-left: 20px solid $color5;
        content: "";
    }
}

.process__item__heading {
    width: 240px;
    margin: 0;
    margin-left: 18px;
    font-family: $font;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: $color1;
}

.process__sublist {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: 30px;
    padding: 0;
    list-style: none;
}

.process__sublist__item {
    max-width: 270px;
    width: 100%;
    padding-top: 28px;
    padding-right: 24px;
    padding-bottom: 36px;
    padding-left: 28px;
    background-color: #ffffff;
    box-shadow: 0px 0px 30px rgba(43, 42, 40, 0.08);
    border-radius: 0px 40px 0px 0px;
}

.process__sublist__item::before {
    content: "";
    display: block;
    width: 62px;
    height: 62px;
    margin-bottom: 24px;
    background-repeat: no-repeat;
    background-size: 62px 62px;
}

.process__item:first-child {
    .process__sublist__item {
        &:first-child::before {
            background-image: url(../images/process/Group-104.svg);
        }

        &:nth-child(2)::before {
            background-image: url(../images/process/Group-105.svg);
        }

        &:nth-child(3)::before {
            background-image: url(../images/process/shtamp.png);
        }
    }
}

.process__item:nth-child(2) {
    .process__sublist__item {
        &:first-child::before {
            background-image: url(../images/process/Group-107.svg);
        }

        &:nth-child(2)::before {
            background-image: url(../images/process/Group.png);
        }

        &:nth-child(3)::before {
            background-image: url(../images/process/Group-109.svg);
        }
    }
}

.process__item:nth-child(3) {
    .process__sublist__item {
        &:first-child::before {
            background-image: url(../images/process/Group-110.svg);
        }

        &:nth-child(2)::before {
            background-image: url(../images/process/Group-111.svg);
        }

        &:nth-child(3)::before {
            background-image: url(../images/process/Group-112.svg);
        }
    }
}

.process__sublist__text {
    max-width: 214px;
    margin: 0;
    font-weight: 300;
    line-height: 30px;
}

@media only screen and(max-width: 1000px) {
    .process__inner {
        max-width: 240px;
    }
}

@media only screen and (max-width: 950px) {
    .process__inner {
        margin: 0;
        margin-bottom: 20px;
    }

    .process__item {
        flex-direction: column;
    }
}

@media only screen and (max-width: 650px) {
    .process .container {
        margin-bottom: 100px;
    }

    .process__inner {
        max-width: 100%;
        margin-bottom: 0px;
    }

    .process__item {
        margin-bottom: 20px;

        & + & {
            margin-top: 0;
        }
    }

    .process__item__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0;
        padding-right: 23px;
        text-align: center;

        &::after {
            content: "";
            width: 12px;
            height: 7px;
            background-image: url('../images/process/marker-1.svg');
            transform: rotate(180deg);
            transition: transform 0.2s ease;
        }
    }

    .process__item__text::before {
        content: none;
    }

    .process__item__heading {
        display: none;
        width: 100%;
    }

    .process__sublist {
        display: none;
    }

    .process__item--active {
        margin-bottom: 0;

        .process__inner {
            margin-bottom: 20px;
        }

        .process__item__text {
            margin-bottom: 20px;

            &::after{
                transform: rotate(0deg);
            }
        }

        .process__item__heading {
            display: block;
        }

        .process__sublist {
            display: flex;
            margin-bottom: 40px;
        }
    }
}

@media only screen and (max-width: 635px) {
    .process__sublist {
        flex-direction: column;
        margin: 0 auto;
    }

    .process__sublist__item {
        max-width: 300px;
        width: 100%;

        & + & {
            margin-top: 30px;
        }
    }
}

@media only screen and (max-width: 425px) {
    .process .container {
        margin-bottom: 60px;
    }

    .process__title {
        margin-bottom: 14px;
        font-weight: 800;
        font-size: 24px;
        line-height: 30px;
    }

    .process__item {
        margin-bottom: 10px;
    }

    .process__sublist {
        width: 100%;
    }

    .process__sublist__item {
        max-width: 100%;

        & + & {
            margin-top: 15px;
        }

        &::before {
            width: 50px;
            height: 50px;
            background-size: contain;
        }
    }

    .process__item--active {
        margin-bottom: 0;

        .process__inner {
            margin-bottom: 16px;
        }

        .process__item__text {
            margin-bottom: 16px;
        }
    }
}
